<!-- Gallery -->
<div class="section-gallery p-t-118 p-b-100">


	<div class="wrap-gallery isotope-grid flex-w p-l-25 p-r-25">
		<!-- - -->
		<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events guests">
			<img src="./public/images/1.jpg" alt="IMG-GALLERY">

			<div class="overlay-item-gallery trans-0-4 flex-c-m">
				<a class="btn-show-gallery flex-c-m fa fa-search" href="./public/images/1.jpg"
					data-lightbox="gallery"></a>
			</div>
		</div>

		<!-- - -->
		<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
			<img src="./public/images/2.jpg" alt="IMG-GALLERY">

			<div class="overlay-item-gallery trans-0-4 flex-c-m">
				<a class="btn-show-gallery flex-c-m fa fa-search" href="./public/images/2.jpg"
					data-lightbox="gallery"></a>
			</div>
		</div>

		<!-- - -->
		<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events">
			<img src="./public/images/4.jpg" alt="IMG-GALLERY">

			<div class="overlay-item-gallery trans-0-4 flex-c-m">
				<a class="btn-show-gallery flex-c-m fa fa-search" href="./public/images/4.jpg"
					data-lightbox="gallery"></a>
			</div>
		</div>

		<!-- - -->
		<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
			<img src="./public/images/3.jpg" alt="IMG-GALLERY">

			<div class="overlay-item-gallery trans-0-4 flex-c-m">
				<a class="btn-show-gallery flex-c-m fa fa-search" href="./public/images/3.jpg"
					data-lightbox="gallery"></a>
			</div>
		</div>

		<!-- - -->
		<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
			<img src="./public/images/5.jpg" alt="IMG-GALLERY">

			<div class="overlay-item-gallery trans-0-4 flex-c-m">
				<a class="btn-show-gallery flex-c-m fa fa-search" href="./public/images/5.jpg"
					data-lightbox="gallery"></a>
			</div>
		</div>

		<!-- - -->
		<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior guests">
			<img src="./public/images/6.jpg" alt="IMG-GALLERY">

			<div class="overlay-item-gallery trans-0-4 flex-c-m">
				<a class="btn-show-gallery flex-c-m fa fa-search" href="./public/images/6.jpg"
					data-lightbox="gallery"></a>
			</div>
		</div>

		<!-- - -->
		<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior">
			<img src="./public/images/7.jpg" alt="IMG-GALLERY">

			<div class="overlay-item-gallery trans-0-4 flex-c-m">
				<a class="btn-show-gallery flex-c-m fa fa-search" href="./public/images/7.jpg"
					data-lightbox="gallery"></a>
			</div>
		</div>

		<!-- - -->
		<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior">
			<img src="./public/images/8.jpg" alt="IMG-GALLERY">

			<div class="overlay-item-gallery trans-0-4 flex-c-m">
				<a class="btn-show-gallery flex-c-m fa fa-search" href="./public/images/8.jpg"
					data-lightbox="gallery"></a>
			</div>
		</div>

		<!-- - -->
		<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events">
			<img src="./public/images/9.jpg" alt="IMG-GALLERY">

			<div class="overlay-item-gallery trans-0-4 flex-c-m">
				<a class="btn-show-gallery flex-c-m fa fa-search" href="./public/images/9.jpg"
					data-lightbox="gallery"></a>
			</div>
		</div>
	</div>


</div>
